Project 4/project4/resources/*
Project 4/project4/src/assets/Images/*
Project 4/project4/hooks/*
Project 4/project4/node_modules/*
Project 4/project4/www/*
Project 4/project4/tsconfig.json
Project 4/project4/tslint.json
Project 4/project4/ionic.config.json
Project 4/project4/package.json
Project 4/project4/README.md
Project 4/project4/config.xml
Project 4/project4/.io-config.json
Project 4/project4/.editorconfig

