$primary: #196978;
$secondary: #011D22;
$tertiary: #5BB3C4;





.primary-color{
 background-color: $primary;
 color: white;
}

.secondary-color{
    background-color: $secondary

}


.tertiary-color{
    background-color: $tertiary;

}
